
.contenedor__imagenes{
    position: relative;
  }
    .banner{
      width: 100%;
      height: 700px;
      object-fit: cover;
      object-position: bottom;
    }
    .contenedor__banner{
      width: 100%; 
    }
  
    .contenedor__texto--absoluto {
      position: absolute;
      margin: 0;
      top: 0;
      left: 0;
      color: $color-letra-parrafo;
      font-size: 50px;
      text-align: center;
    }
    .contenedor__subtexto--absoluto {
      top: 58%;
      left:10%; 
      right: 10%;
      text-align: center;
      margin: 0;
      position: absolute;
      color: $color-letra-parrafo;
      font-size: 25px;
    }
    .contenedor__texto--centrado {
      top: 44%;
      left:50%;
      transform: translate(-50%, -50%);
      
    }
    
    .contenedor__texto--fondo-transparente {
      background-color: $color-texto--fondo-transparente;
      padding: 0.5rem;
      border-radius: 0.5rem;
    }
  
  
    .clearfix{
      clear: both;
    }
    .contenedor-body{
      width: 95%;
      margin: 0;
      padding: 0 5%;
    }
    .contenedor { 
      width: 100%;  
      margin:   0;
      padding: 0;
      display: flex;
      position: relative;
    }
    
    .contenedor-texto,.contenedor-img{
      overflow: hidden; 
      position: relative;
    }
    .contenedor-texto {
      width: auto;
      color: #1e1e1e;
      margin: 10px 30px;
      padding: 20px 0 20px 20px;
      justify-content: left;
      font-size: $font-size-letra;
      float: left;
      font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
     
    }
    .contenedor-img{
      width:60%;
      overflow:hidden;
     
    }
  .titulo{
    font-size: $font-size-titulo;
    padding: 10px;
  }
  .titulo-footer{
    font-size: $font-size-footer;
    padding: 10px;
    overflow:hidden;
    margin: 0;
    padding: 0;
  }
  .parrafo{
    font-size:$font-size-parrafo;
    line-height: 23px;
    color: $color-letra-textoA;
    font-family: "BreePeru", sans-serif;
  }
  .enlace{
    font-size:$font-size-enlace;
    color: $color-letra-enlace;
    padding: 10px;
   
  }
  .img{
    width:800px;
    height: 450px; 
    justify-items: center;
    @include imagen-object(); 
  }
  .line_bottom-texto::before {
    
      content: "";
      position: absolute;
      left: 0;
      bottom: 0;
      width: 265px;
      height: 6px;
      background-color: $color-content-before;
  }
   .line_left-texto::before {
    
    content: '';
    position: absolute;
    left: 0;
    top: 0;
    width: 8px;
    height: 188px;
    background-color: $color-content-before;
  }
  .contenedor-enlace{
   display: flex;
   padding: 10px 0;
  }
  .icono-enlace{
    border-radius: 100%;
    width: 12px;
    height: 12px;
    background-color: $color-content-before;
    display: flex;
    justify-content: center ;
    padding: 8px;;
  }
  
  .contenedor-img-line{
    width: 100%;
    height: 55px;
    overflow:hidden;
    margin: 0;
    padding: 0;
  }
  .img-line{
   width:  auto;
   padding: 20px 40px;
   @include imagen-object(); 
  }

  
  @media (max-width: 820px) {
    .body {
      font-size: 1rem;
    }
    .contenedor-texto::after {
      content: "";
      position: relative;
  
    }
    .contenedor-texto  {
      order: 1;
  
    }
    .contenedor{
      flex-direction: column;
    }
  
    .img-oculto{
      visibility: hidden;
    }
    .titulo{
      font-size: 22px;
    }
    .img{
      width: 400px;
      height: 300px; 
    }
  
    .contenedor-img{
      width:auto; 
      order: 2;
    }
 
 

 
 

  }